#header{
    background-color: gray;
    padding: 0 25px;
}
nav{
    position: absolute;
    top: 110px;
    right: 200px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    color: black; 
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:hover {
    color: red;
    text-decoration: underline;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto; 
}
.produto{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produto li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: gray;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.produto li:hover {
    border-color: red;
}
.produto li:active {
    border-color: blue;
    color: blue;
}
.produto li h2:hover {
    font-size: 40px;
}

.produto h2 {
    font-size: 30px;
    font-weight: bold;
}
.descrição{
    font-size: 22px;
    font-weight: bold;
}
.preço{
    font-size: 18px;
    margin-top: 10px;
}
footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 50px 0;
}
.logo-branco{
    display: inline;
}
.cor-letra{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
   margin: 40px 0;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
form input , form textarea, input-padrao{
    display: block;
    margin-top: 15px;
    width: 50%;
    padding: 10px 40px;
}
.checkbox1{
    margin: 25px 0;
}
